@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  color:rgb(48, 85, 206);
  font-weight: bold;
  font-size: 25px;
}

li{
  font-weight: bold;
}

button{
  font-size: 35px;
  font-weight: bold;
}